<div class="landing">
  <img class="landing-img" src="assets/images/travel_wallpaper.jpg" alt="Background with travel theme">
  <div class="landing-text">
    Ankur's Travels
  </div>
</div>
<div class="about">
  <div class="about-text">
    <p style="font-size: 5vw;">
      About Me
    </p>
    <p style="font-size: 2vw;">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
  </div>
  <div class="about-img-div">
    <div class="vl"></div>
    <img class="about-img" src="assets/images/profile_picture.jpg" alt="Author Profile Picture">
  </div>
</div>
<div class="map" style="height: fit-content; display: flex; justify-content: center;">
  <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
    [options]="chartOptions" style="width: 100vw; height: 50vw; display: block;">
  </highcharts-chart>
</div>